[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
flask = "==0.12.2"
itsdangerous = "==0.24"
markupsafe = "==1.0"
werkzeug = "==0.14.1"
marshmallow = "*"
python-dotenv = "*"
python-jose-cryptodome = "*"
six = "*"
flask-cors = "*"
"jinja2" = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
simplejson = "*"
gunicorn = "*"


[dev-packages]

pytest = "*"
pytest-flask = "*"
pytest-cov = "*"


[requires]

python_version = "3.6"
